header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hrTop {
    width: 100%;
    height: 20px;
    background-color: black;
    margin-bottom: 40px;
}

.hrBottom {
    width: 100%;
    height: 20px;
    background-color: black;
    margin-top: 40px;
}

.logo > img,
.TopNav > a {
    padding: 10px;
    border: solid 2.5px black;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 25px;
}

.TopNav {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 25%;
}

article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.half-content {
    width: 30%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.half-content > h2 {
    text-align: center;
}

.half-content > img {
    padding: 5px;
}

.hero {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottomContenttop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomContenttop > .logoBottom {
    width: 25%;
    border: 2.5px solid black;
    border-radius: 1rem;
}

.bottomContentbottom {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.bottomContentbottom > a {
    text-decoration: none;
    border: 2.5px solid black;
    border-radius: 1rem;
    padding: 10px;
}