* {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    margin-bottom: 20px;
}

footer {
    background: darkgray;
    margin-top: 20px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-size: 20px;
}

body {
    background-color:rgba(119, 136, 153, 0.716);
}

nav > a {
    color: black;
}

article.hero {
    background-image: url(/images/sad_child.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hrTop {
    width: 100%;
    height: 20px;
    background-color: black;
    margin-bottom: 40px;
}

.hrBottom {
    width: 100%;
    height: 20px;
    background-color: black;
    margin-top: 40px;
}

.TopNav > a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    border: solid 2.5px black;
    border-radius: 1rem;
}

.TopNav {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 25%;
}

article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.half-content-01, .half-content-02,.half-content-03, .half-content-04 {
    width: 30%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.half-content-01, .half-content-04 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.half-content > img {
    padding: 5px;
}

.hero {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottomContenttop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    text-align: center;
}

.bottomContentbottom {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding-bottom: 15px;
}

.bottomContentbottom > a {
    text-decoration: none;
    border: 2.5px solid black;
    border-radius: 1rem;
    padding: 10px;
    color: black;
}

.pTitle {
    display: flex;
    align-items: center;
}

.row-section-1, .row-section-2 {
    width: 25%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-section-1, .row-section-1-img {
    display: flex;
    flex-direction: row;
}

.row-section-2, .row-section-2-img {
    display: flex;
    flex-direction: row;
}

.row-section-1-img, .row-section-2-img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.row-section-1, .row-section-2 { 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-items: center;
}

.row-section-1-content, .row-section-2-content {
    width: 45%;
}

.one-half-01, .one-half-02 {
    width: 30%;
}

.one-half-01 {
    display: flex;
    flex-direction: column;
}

.one-half-02 {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.one-half-01 > p {
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.one-half-02 > p {
    padding-top: 10vw;
    padding-bottom: 10vw;
}

a.current {
    background-color: lightgray;
}

a:hover {
    background-color: rgba(173, 216, 230, 0.382);
}
